---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app: mongodb
type: Opaque
data:
  username: {{ include "mongodb.username_b64" . | quote }}
  password: {{ include "mongodb.password_b64" . | quote }}
  service_uri: {{ include "mongodb.service_uri_b64" . | quote }}