---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  namespace: {{ .Release.Namespace }}
  labels:
    app: mongodb
spec:
  serviceName: mongodb
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "9216"
    spec:
      containers:
        - name: mongodb
          image: "mongo:{{ .Values.mongodbVersion }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: mongodb
              containerPort: 27017
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: mongodb
          readinessProbe:
            tcpSocket:
              port: mongodb
          startupProbe:
            tcpSocket:
              port: mongodb
          volumeMounts:
            - name: data
              mountPath: /data/db
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-credentials
                  key: username
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-credentials
                  key: password
            - name: MONGO_INITDB_DATABASE
              value: "historian"
        - name: mongodb-exporter
          image: "docker.io/percona/mongodb_exporter:{{ .Values.exporterVersion }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 9216
          args: ["--mongodb.uri=mongodb://$(MONGODB_USER):$(MONGODB_PASSWORD)@localhost:27017/admin", "--discovering-mode", "--collect-all", "--compatible-mode"]
          env:
            - name: MONGODB_USER
              valueFrom:
                secretKeyRef:
                  name: mongodb-credentials
                  key: username
            - name: MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-credentials
                  key: password
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.persistentVolumeClaimSize }}