replicaCount: 1

image:
  repository: user-controller-image
  pullPolicy: Always
  # tag: ""

imagePullSecrets:
  - name: gcr-json-key

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Annotations to add to the service account
  annotations: {}

podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}

config:
  projectId: teknoir
  userIdHeader: X-Auth-Request-Email
  userIdPrefix:
  mailClientApiKey: ""
  webDomain: teknoir.cloud
