apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{ .Values.labelSelectorKey }}: {{ .Values.labelSelectorValue }}
    teknoir.org/activity-logs-enabled: "true"
    teknoir.org/activity-logs-section: grafana
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 3000
  selector:
    name: {{ .Values.name }}
