---
apiVersion: v1
kind: Service
metadata:
  name: backstage-postgres
  namespace: {{ .Release.Namespace }}
  labels:
    app: backstage-postgres
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
      protocol: TCP
  selector:
    app: backstage-postgres
