---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: backstage-postgres-admin-allow
  namespace: {{ .Release.Namespace }}
spec:
  action: ALLOW
  rules:
  - from:
    - source:
        principals:
        - "cluster.local/ns/{{ .Release.Namespace }}/sa/backstage-api"
    to:
    - operation:
        ports:
        - "5432"
  selector:
    matchLabels:
      app: backstage-postgres
