apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  labels:
    teknoir.org/part-of: user-controller
  name: claims.teknoir.org
spec:
  group: teknoir.org
  names:
    kind: Claim
    listKind: ClaimList
    plural: claims
    singular: claim
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: |-
          Claim is for claim on a resources, ex. a URI or a Namespace
          the annotation "teknoir.org/custrom-claims-alias" is used to map claim to a Firebase custom claims
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              authpolicy:
                items:
                  properties:
                    permissions:
                      items:
                        type: string
                      type: array
                    rules:
                      items:
                        type: object
                        x-kubernetes-preserve-unknown-fields: true
                      type: array
                  type: object
                type: array
              authpolicymatch:
                type: string
            type: object
        type: object
    served: true
    storage: true
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  labels:
    teknoir.org/part-of: user-controller
  name: claimsets.teknoir.org
spec:
  group: teknoir.org
  names:
    kind: ClaimSet
    listKind: ClaimSetList
    plural: claimsets
    singular: claimset
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              claim_permissions:
                items:
                  properties:
                    name:
                      type: string
                    permissions:
                      items:
                        type: string
                      type: array
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  labels:
    teknoir.org/part-of: user-controller
  name: users.teknoir.org
spec:
  group: teknoir.org
  names:
    kind: User
    listKind: UserList
    plural: users
    singular: user
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: User is the Schema for the users API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: UserSpec defines the desired state of User
            properties:
              claim_set:
                items:
                  description: ClaimSet item contains name of a Claim and mapped namespace
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  type: object
                type: array
              claims_v0:
                description: legacy custom claims
                properties:
                  editor:
                    items:
                      type: string
                    type: array
                  owner:
                    items:
                      type: string
                    type: array
                  role:
                    type: string
                  viewer:
                    items:
                      type: string
                    type: array
                type: object
              display_name:
                type: string
              email:
                description: |-
                  INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: string
              email_verified:
                type: boolean
              enabled:
                type: boolean
              initial_password:
                type: string
              phone_number:
                type: string
              photo_url:
                type: string
              plugins:
                items:
                  description: Plugin is for customize actions on different platform.
                  properties:
                    apiVersion:
                      description: |-
                        APIVersion defines the versioned schema of this representation of an object.
                        Servers should convert recognized schemas to the latest internal value, and
                        may reject unrecognized values.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
                      type: string
                    kind:
                      description: |-
                        Kind is a string value representing the REST resource this object represents.
                        Servers may infer this from the endpoint the client submits requests to.
                        Cannot be updated.
                        In CamelCase.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                      type: string
                    spec:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                  type: object
                type: array
              welcome_email_action:
                type: string
            required:
            - email
            type: object
          status:
            description: UserStatus defines the observed state of User
            properties:
              computed_status:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: string
              email_verification_status:
                type: string
              last_refresh_timestamp:
                format: date-time
                type: string
              set_initial_password:
                type: string
              sign_in_provider:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
